# Project
/export/linux/**
/export/windows/**
/export/macos/**
/export/web/**
!/export/linux/.gitkeep
!/export/windows/.gitkeep
!/export/macos/.gitkeep
!/export/web/.gitkeep
!/export/web/server.py

# Godot 4+ specific ignores
.godot/
/android/
